menuitem[ABtype="local"] {
	list-style-image: url("chrome://messenger/skin/icons/server.png");
	-moz-image-region: rect(0 48px 16px 32px);
}
menuitem[ABtype="remote"] {
	list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook.png");
}
menuitem[ABtype="search"] {
	list-style-image: url(chrome://global/skin/icons/Search-glass.png);
	-moz-image-region: rect(0, 16px, 16px, 0);
}
menuitem[ABtype="standard-abook"] {
	list-style-image: url('chrome://messenger/skin/addressbook/icons/addrbook.png');
}
