.tabmail-tab[type="cardbookTab"] .tab-icon-image {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

.alltabs-item[type="cardbookTab"] .menu-iconic-icon {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

#cardbookMenuItem {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

#cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

#cardbookTabButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

